.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
}

.resizable-component {
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 10px;
  resize: both;
  padding:10px;
}
